.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body{
  width: 100%;
  margin: 0 auto;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
nav{
  z-index: 10001;
}